* {
	font-family: monospace, serif;
	font-size: 10pt;
	line-height: 30pt;
	text-align: center;
}

button {
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px auto;
	padding: 0 10px;
}

.correct {
	border:2px solid green;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

.error {
	border:2px solid red;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

fieldset {
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #888;
	margin: 0 auto;
	width: 75%;
}

fieldset div {
	text-align: left;
}

legend {
	padding: 0 10px;
	text-transform: uppercase;
}

span {
	border: 1px solid blue;
	padding: 5px;
}
